body{
		background:#4ddbff;
}

h1{
	font-size: : 55pt;
	color : #ff9966;
	font-family: courier;
	letter-spacing:  10px;
	text-align: center;
}

h2{
	font-size : 40pt;
	color : #cc4400;
	font-family: courier;
	letter-spacing: 5px;
	text-align: center;

}

a{
	font-size: : 25pt;
	color : #0077b3;
	font-family: arial;
	letter-spacing: 2px;
	text-align: right
}

p{
	font-size: : 15pt;
	color: #ffff00;
	font-family: times;
	letter-spacing: 1px;
	text-align: center
	background: white;
	padding: 5px 5px 5px 5px;
}

a:link{
  color:green;
}

a:hover{
  color:red;
}

a:focus{
	color:gray;
}
a:active{
  color:yellow;
}

a:visited{
  color:gray;

}


li{
	padding : 15px;
}



li:hover{
	cursor: ur(../images/BeachBall.png), default;
}